/* ---------------------WIDTH---------------------- */
@media only screen and (max-width: 1300px) {
    canvas {
        height: 480px;
        width: 852px;
        border-radius: 0;
    }
    #loadingScreen {
        height: 480px;
        width: 852px;
    }
    #movementButtons{
        width: 822px;
        border-radius: 0;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 18px
    }
    #gameScreen{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 852px;
    }
    #gameWonScreen{
        width: 852px;
        height: 480px;
    }
    #gameLostScreen{
        width: 852px;
        height: 480px;
    }
    .gameEndButtons button{
        font-size: 24px;
    }
    #startScreen {
        width: 100%;
        height: 480px;
        background-size: 100% 100%;

    }
    #startGameButton {
       font-size: 24px;
       width: 150px;
       margin-top: 2px;
    }
    .mobileButtons{
        padding: 0;
    }
}

@media only screen and (max-width: 852px) {
    #rotateDeviceOverlay {
        display: flex;
    }
    #movementButtons {
        display: none !important;
    }
    #headline{
        font-size: 60px;
    }


}

@media only screen and (max-width: 530px) {
    #rotateDeviceOverlay {
        display: flex;
    }
}

@media only screen and (max-width: 530px) and (orientation: landscape) {
    #rotateDeviceOverlay {
        display: none;
    }

}




/* ---------------------HEIGHT-------------------------- */
@media only screen and (max-height: 1040px) {
    #headline{
        display: none;
    }

}

@media only screen and (max-height: 810px) {
    #movementButtons {
       display: none !important;
    }
}

@media only screen and (max-height: 720px)  and (orientation: landscape){
    .mobileButtons{
        display: flex;
        position: absolute;
        bottom: 0;
        top: 85%;
    }
    #movementButtons {
        display: none !important;
    }
    #gameScreen, #startScreen, #gameWonScreen, #gameLostScreen, #loadingScreen, canvas {
        height: 100%;
    }
    #gameLostScreen, #gameWonScreen {
        width: 100% !important;
    }
    body{
        background-size: auto;
        height: 100vh;
    }
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape){
    #movementButtons {
        display: none !important;
    }
    #gameLost, #gameWon {
        width: 100%;
    }
    .mobileButtons{
        top: calc(100% - 64px);
    }
    #rotateDeviceOverlay {
        display: none;
    }
    .buttons{
        display: flex;
        width: 40px;
    }
    #infoIcon, #privacyPolicyLink, #fullScreenIcon{
        display: none;
    
    }
    
}




@media only screen and (max-height: 430px) and (orientation: landscape){
    body {
        width: 100%;
        height: 100vh;        
    }
    #gameScreen {
        width: 100%;
        border-radius: unset;
    }
    #startScreen {
        border-radius: unset;
        border: unset;
    }
    canvas {
        width: 100%;
        height: 100%;
        border: unset;
    }
    /* .buttons{
        display: none;
    } */
}